FERMan-main/models/pretrain/i50.pth filter=lfs diff=lfs merge=lfs -text
FERMan-main/models/pretrain/ir50.pth filter=lfs diff=lfs merge=lfs -text
FERMam-main/models/pretrain/ir50.pth filter=lfs diff=lfs merge=lfs -text
